<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>To-Do List | Add New</title>

    <link href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/add.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body style="background: radial-gradient(rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 50%) 100%), radial-gradient(rgb(0 0 0 / 0%) 33%, rgb(0 0 0 / 30%) 166%), url(../static/graphic.jpg)">
    <center>
        <h1><a href="{{ url_for('home') }}">To-Do List</a></h1>
        <form action="{{ url_for('add') }}" method="POST">
          <input type="text" placeholder="Task..." name="task">
          <input type="text" placeholder="Category of your task..." name="category">
          <input type="date" name="date"><br><br>
          <input type="time" name="time">
          <button type="submit" class="btn"><i class="fa fa-plus"></i> Add</button>
        </form>
    </center>
</body>
</html>